*.out
*.ppt
*.pptx
*.pdf
*.aux
*.nav
*.log
*.snm
*.synctex.gz
*.tex.bak
*.toc
*.vrb

atom.GIF
excel1.gif
hep.jpg
khuff_presentations/
materials.jpg
me_on_sub.jpg
pebble_disection.jpg
reactor.jpg
science.png
shine_peifer.jgp
us-seal-eagle.png
usNational_labs_map.jpg

